<%= stylesheet_link_tag "application.css" %>
<% flash.each do |type, msg| %>
  <h4><%= msg %></h4>
<% end %>
<div class="parent">
  <form action="/game" method="post">
    <h2>Blackjack</h2>
    <h3>You have <% @player_cards.each do |val| %>
        <%= val %>
      <% end %>: <%= @player_score %></h3>
    <h3>Dealer only reveals one card <%= @dealer_card[0]%>: <%= @dealer_score %></h3>
    <input type="hidden" name="redirect_to" id="redirect_to" value="">
    <input type="submit" name="button1" value="Hit" onclick="document.getElementById('redirect_to').value='/hit';">
    <input type="submit" name="button2" value="Stand" onclick="document.getElementById('redirect_to').value='/stand';">
  </form>
</div>
